<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561309024360-um6f27qub9c4pp1m9gcvuvvncroismoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561309024360-um6f27qub9c4pp1m9gcvuvvncroismoi</string>
	<key>API_KEY</key>
	<string>AIzaSyDmt55_TcF3Gu1-Mc3leEuP8_Aij_xwr-s</string>
	<key>GCM_SENDER_ID</key>
	<string>561309024360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.official-kaitooooo.PiggyBank</string>
	<key>PROJECT_ID</key>
	<string>piggybank-e48f3</string>
	<key>STORAGE_BUCKET</key>
	<string>piggybank-e48f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561309024360:ios:0737d8afc816dc2ca73bdd</string>
</dict>
</plist>